@font-face {
    font-family: "yekanBakh-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "yekanBakh-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "yekanBakh-Regular";
    user-select: none;
    overflow-x: hidden;
}

.font-bold {
    font-family: "yekanBakh-Bold";
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

/* object fit */
.object-cover {
    object-fit: cover;
}

/* overflow */
.overflow-x-hidden {
    overflow-x: hidden;
}

/* border dash */
.border-dash {
    border: 2px dashed lightgray;
}

.border-b-dash {
    border-bottom: 2px dashed #0000000D
}

/* border-radius */
.rounded-8 {
    border-radius: 8px!important;
}
.rounded-10 {
    border-radius: 10px!important;
}
.rounded-15 {
    border-radius: 15px!important;
}
.rounded-17 {
    border-radius: 17px;
}
.rounded-20 {
    border-radius: 20px;
}
.rounded-25 {
    border-radius: 25px;
}
/* z index */
.-z-1 {
    z-index: -1;
}

.-z-0 {
    z-index: 0;
}

.z-0 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}
/* color */
.text-main {
    color: #008BF9;
}
.text-blue {
    color: #0C356A!important;
}
.text-gray {
    color: #8e95a3;
}
.text-black {
    color: #000000;
}
/* box shadow */
.shadow1 {
    box-shadow: 0px 0px 26.399999618530273px 0px #00000040;
}
/* top */
.-top-5 {
    top: -5px;
}
.-top-40 {
    top: -40px;
}
.top-118 {
    top: 118px!important;
}
/* bottom */
.bottom-8 {
    bottom: -8px;
}
/* right */
.right-0 {
    right: 0;
}

/* left */
.left-0 {
    left: 0;
}
.left-auto{
    left: auto!important;
}
/* line height */
.lh-24 {
    line-height: 24px;
}

/* background */
.bg-main {
    background-color: #008BF9;
}
.bg-blue {
    background: #0C356A;
}
.bg-gray {
    background-color: #ECECEC;
}
.bg-main-gradient{
    background: linear-gradient(90deg,rgba(18, 147, 250, 0.18) 100%, rgba(18, 147, 250, 0.57) 67%);
}
/* font size */
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
}
.fs-24 {
    font-size: 24px;
}
.fs-27 {
    font-size: 27px;
}
.fs-32 {
    font-size: 32px;
}
.fs-36 {
    font-size: 36px;
}
.-mt-183{
    margin-top: -183px;
}
/* max width */
.max-w-450 {
    max-width: 450px;
    width: 100%;
}
.max-w-653 {
    max-width: 653px;
    width: 100%;
}
/* border */
.border-main{
    border: 1px solid #008BF9;
}
.border-r-main-3{
    border-right: 3px solid #008BF9;
}
/* width */
.w-15 {
    width: 15px;
}
.w-26{
    width: 26px;
}
.w-36{
    width: 36px;
}
.w-47 {
    width: 47px;
}
.w-55 {
    width: 55px;
}
.w-66 {
    width: 66px;
}
.w-120 {
    width: 120px;
}
.w-140 {
    width: 140px;
}
.w-200 {
    width: 200px;
}
.w-274 {
    width: 274px;
}
/* height */
.h-26{
    height: 26px;
}
.h-36{
    height: 36px;
}
.h-40 {
    height: 40px!important;
}
.h-43 {
    height: 43px!important;
}
.h-45 {
    height: 45px!important;
}
.h-49 {
    height: 49px!important;
}
.h-55 {
    height: 55px!important;
}
.h-60 {
    height: 60px!important;
}
.h-100vh{
    height: 100vh;
}
.h-101 {
    height: 101px;
}
.h-117vh{
    height: 117vh;
}
.h-120 {
    height: 120px;
}
.h-130 {
    height: 130px;
}
.h-165 {
    height: 165px;
}
.h-376 {
    height: 376px;
}
.h-1014 {
    height: 1014px;
}
/* margin top */
.-mt-4 {
    margin-top: -4px;
}
.-mt-92 {
    margin-top: -92px;
}
.mt-110 {
    margin-top: 110px;
}
.-mt-492{
    margin-top: -492px;
}
/* margin bottom */
.-mb-33 {
    margin-bottom: -33px;
}
/* transition */
.transition{
    transition: all .4s;
}

/* transform */
.transform1 {
    transform: scale(1.16) translateY(4px) translateX(22px);
}
/* hover */
.hover1:hover{
    box-shadow: 0 0 9.6px #008BF9;
}
/* dropdown */
.dropdown-content{
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}
.dropdown-content.active{
    max-height: 1000px;
}
/* global styles */
.row{
    margin-left: 0;
    margin-right: 0;
}
.outline-none {
    outline: none;
}
.outline-main:focus{
    border: 2px solid #008BF9!important;
}
.opacity-none {
    opacity: 0;
}

.visible-none {
    visibility: hidden;
}

.resize-none {
    resize: none;
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}
.text-justify {
    text-align: justify;
}

.ltr {
    direction: ltr;
}

.modal {
    backdrop-filter: blur(3px);
}
input[type="number"] {
    -moz-appearance: textfield;
}
/* accordion */
.accordion-btn > div:last-child{
    transition: all .4s;
}
.accordion-btn.active > div:last-child{
    transform: rotate(180deg);
}
.accordion-content{
    transition: all .4s;
    max-height: 0;
    overflow: hidden;
}
.accordion-content.active{
    max-height: 2000px;
}
/* header */
header ul li > p,header ul li svg path,.showHover > p,.dropdown-content{
  transition: all .4s;
}
header ul li:hover> a,header ul li:hover > p,.showHover:hover > p{
    color: #008BF9!important;
}
header ul li:hover svg path{
    stroke: #008BF9!important;
}
header .dropdown{
    opacity: 0;
    transition: all .4s;
    top: 95px;
    visibility: hidden;
}
header .showHover:hover .dropdown{
    opacity: 100%;
    top: 118px;
    visibility: visible;
}
/* banner */
#banner{
    background-image: url('../img/Frame.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width:1400px) {
    
}

@media only screen and (max-width:1200px) {
    .fs-xl-14{
        font-size: 14px;
    }
}

@media only screen and (max-width:992px) {
    .h-lg-80{
        height: 80px;
    }
    .h-lg-auto{
        height: auto;
    }
    .mt-lg-6{
        margin-top: 6px;
    }
    #banner{
        background-image: none;
    }
    .w-lg-101{
        width: 101px!important;
    }
    .fs-lg-16{
        font-size: 16px;
    }
    .fs-lg-20{
        font-size: 20px;
    }
    .top-lg-0{
        top: 0;
    }
}

@media only screen and (max-width:768px) {
    .text-md-main{
        color: #008BF9!important;
    }
    .stroke-md-main{
        stroke: #008BF9!important;
    }
    .h-md-230{
        height: 230px;
    }
}

@media only screen and (max-width:576px) {
    .fs-sm-11{
        font-size: 11px;
    }
    .fs-sm-16{
        font-size: 16px;
    }
    .fs-sm-20{
        font-size: 20px;
    }
    .w-sm-93{
        width: 93px;
    }
    .w-sm-43{
        width: 43px;
    }
    .h-sm-136{
        height: 136px;
    }
    .h-sm-93{
        height: 93px;
    }
    .h-sm-42{
        height: 42px!important;
    }
    .h-sm-auto{
        height: auto;
    }
    .-mt-sm-180{
        margin-top: -180px;
    }
    .-mt-sm-213{
        margin-top: -213px;
    }
    .mt-sm-210{
        margin-top: 210px!important;
    }
    .shadow-sm-0{
        box-shadow: none!important;
    }
}

@media only screen and (max-width:400px) {

}